h1 {
    text-align: center;
}

.filterNav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.hidden {
    display: none;
}

.movie-img {
    height: 400px;
    margin: 2em;
}

footer {
    background-color: cornflowerblue;
}