h1 {
    text-align: center;
}

header {
    width: 90%;
    height: 4em;
    position:sticky;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.filterNav {
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    text-align: right;
    margin: 0 auto;
    li {
        padding-left: 3em;
    }
}


body {
    font-family: $body;
    background-color:rgb(255, 255, 255);
    h2{ 
        font-size: 2em;
    }
}

.hidden {
    display: none;
}

span {
    font-family: $fancy!important;
    font-size:2em;
    padding: 0 10px;
}

.movies-wrapper {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.movie-item {
    margin-top: 3em;
    width: 20%;
}

.movie-item-details {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.movie-img {
    height: 400px;
    margin: 2em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.details {
    width: 80%;
    margin: 0 auto;
}

.details-details {
    max-width: 600px;
    text-align: center;
}

a {
    color:#ff4848;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: rgb(255, 140, 78);
    font-style: italic;
}

footer {
    margin-top: 3em;
    height: 100px;
    text-align: center;
    background-color: rgb(255,140,78);
    color: white;
    h3 {
        padding-top: 0.5em;
    }
}